<div class="home">

	<header>
		<div class="header-logo">
			<h1><%= link_to "居酒屋", root_path %></h1>
		</div>

		<div class="header-lists">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", root_path %></li>
				<li><%= link_to "Menu", root_path %></li>
			</ul>
		</div>
	</header>


	<div class="main">

	<section class="news">

	<h2>お知らせ</h2>

	<dl>
		<dt>2020/01/14</dt>
			<dd>sample<span class="new-icon">NEW</span></dd>
	</dl>

	</section>

	</div>
	<!--/#main-->

</div>