<header>
	<div class="header-left">
		<i class="fas fa-utensils"></i>
	</div>
</header>


<div class="row">
  <div class="col" style="background:#FB8;height:200px;">ブロックA</div>
  <div class="col" style="background:#FD9;height:200px;">ブロックB</div>
  <div class="col" style="background:#FB8;height:200px;">ブロックC</div>
</div>