<div class="test"></div>






<div class="container">

	<div class="row">
		<header>
			<%= link_to "TOP", root_path %>
		</header>
	</div>

	<div class="row">
		<div class="background 1">
			あ
		</div>
	</div>




	<div class="row">
		<div class="background 2">
		</div>
	</div>

	<div class="row">a
		<div class="background 3">
		</div>
	</div>

	<div class="row">
	</div>

	<div class="row">
	</div>

	<div class="row">
	</div>

	<div class="row">
	</div>
</div>