// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	background-image: url(714891_m.jpg);

	height: 1000px;
	background-size: 100% 100%;
}

header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 15%;
	height: 100%;
	text-align: center;
	background: #c30000;
	background: rgba(195,0,0,0.8);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5) inset;
	z-index: 10;
}

.header-logo {
	padding: 5%;
}

.header-lists li {
	font-size: 30px;
	margin-bottom: 20px;
}

a {
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
}
a:hover {
	color: #c30000;
	text-decoration: none;
}


/*---------------------------------------------------------------------------*/

.main {
	width: 75%;
	padding: 100px 0;
	overflow: auto;overflow-x: hidden;
	position: absolute;
	left: 20%;
	padding: 0;
	bottom: 50px;
}


.main h2 {
	clear: both;
	margin-bottom: 20px;
	padding: 0 20px;
	font-size: 30px;
	border-bottom: 1px solid #fff;
	color: #fff;
}

/*---------------------------------------------------------------------------*/

.news {
	background: rgba(0,0,0,0.6);
	padding: 3%;
}

.news dl {
	height: 100px;
	overflow: auto;
	padding: 0 20px;
}

.news dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
	color: #fff;
}

.news dd {
	padding-left: 9em;
	color: #fff;
}

.new-icon {
	background: #F00;
	color: #FFF;
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
}

