// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	height: 50px;
	width: auto;
	background-color: blue;
}

.background {
	height:200px;
	width: 100%;
}

.background {
	background-color: red;
}

